<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Response</h1>
        <p><strong>Your Query:</strong> {{ query }}</p>
        <p><strong>Assistant's Response:</strong></p>
        <p>{{ response }}</p>
        <h3>Retrieved Laws:</h3>
        <ul>
            {% for law in retrieved_laws %}
            <li>{{ law }}</li>
            {% endfor %}
        </ul>
        <a href="/" class="btn btn-secondary btn-block">Ask Another Question</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>